@font-face {
    font-family: "secret-typewriter";
    src: url(veteran_typewriter.ttf) format("truetype");
}

/*imagen fondo inicio con movimiento*/
#div-fondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
#div-fondo::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image:
        linear-gradient(48deg, #c29c67 0%, #c29c67 35%, rgba(209, 188, 117, 0.616) 35%, rgba(209, 188, 117, 0.616) 55%, rgb(231, 142, 82) 55%, rgb(231, 142, 82) 60%, rgba(218, 181, 148, 0.445) 60%, rgba(218, 181, 148, 0.445) 72%, rgb(235, 248, 199) 72%, rgb(235, 248, 199) 77%, rgba(219, 198, 127, 0.164) 77%, rgba(219, 198, 127, 0.164) 92%, rgb(187, 190, 135) 92%, rgb(187, 190, 135) 100%),
  linear-gradient(3deg, #c29c67 0%, #c29c67 35%, rgba(209, 188, 117, 0.616) 35%, rgba(209, 188, 117, 0.616) 55%, rgb(231, 142, 82) 55%, rgb(231, 142, 82) 60%, rgba(218, 181, 148, 0.445) 60%, rgba(218, 181, 148, 0.445) 72%, rgb(235, 248, 199) 72%, rgb(235, 248, 199) 77%, rgba(219, 198, 127, 0.164) 77%, rgba(219, 198, 127, 0.164) 92%, rgb(187, 190, 135) 92%, rgb(187, 190, 135) 100%),
  linear-gradient(67.5deg, #c29c67 0%, #c29c67 35%, rgba(209, 188, 117, 0.616) 35%, rgba(209, 188, 117, 0.616) 55%, rgb(231, 142, 82) 55%, rgb(231, 142, 82) 60%, rgba(218, 181, 148, 0.445) 60%, rgba(218, 181, 148, 0.445) 72%, rgb(235, 248, 199) 72%, rgb(235, 248, 199) 77%, rgba(219, 198, 127, 0.164) 77%, rgba(219, 198, 127, 0.164) 92%, rgb(187, 190, 135) 92%, rgb(187, 190, 135) 100%),
  linear-gradient(22.5deg, #c29c67 0%, #c29c67 35%, rgba(209, 188, 117, 0.616) 35%, rgba(209, 188, 117, 0.616) 55%, rgb(231, 142, 82) 55%, rgb(231, 142, 82) 60%, rgba(218, 181, 148, 0.445) 60%, rgba(218, 181, 148, 0.445) 72%, rgb(235, 248, 199) 72%, rgb(235, 248, 199) 77%, rgba(219, 198, 127, 0.164) 77%, rgba(219, 198, 127, 0.164) 92%, rgb(187, 190, 135) 92%, rgb(187, 190, 135) 100%),
  linear-gradient(93deg, rgb(20, 56, 214), rgb(214, 151, 100));
    background-blend-mode: overlay, overlay, overlay, overlay, normal;
    animation: pulso 6s ease-in-out infinite;
}
@keyframes pulso {
    0% {
        transform: scale(1);
        filter: blur(3px) brightness(1);
    }
    20% {
        transform: scale(1.05);
        filter: blur(5px) brightness(1.07);
    }
    40% {
        transform: scale(1.08);
        filter: blur(7px) brightness(1.12);
    }
    60% {
        transform: scale(1.06);
        filter: blur(6px) brightness(1.1);
    }
    80% {
        transform: scale(1.04);
        filter: blur(4.5px) brightness(1.05);
    }
    100% {
        transform: scale(1);
        filter: blur(3px) brightness(1);
    }
}

/* animacion letras inicio*/
#div-intro {
    width: 200px;
    font-family: "secret-typewriter";
    font-size: x-large;
    white-space: pre-wrap;
    position: relative;
    z-index: 3;
    margin-bottom: 20px;
}
#cursor {
    display: inline-block;
    width: 7px;
    height: 1em;
    background-color: black;
    animation: parpadear 1.5s steps(1) infinite;
}
@keyframes parpadear {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

/*boton hired*/
#div-btn-hired {
    margin-right: 67px;
    text-align: center;
}

#btn-hired {
    display: none;   /* Inicialmente invisible */
    font-family: "secret-typewriter";
    font-size: x-large;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    background-color: #3a6a7a41;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#btn-hired:hover {
    background-color: #3a6a7a8f;
    color: #fcf8e4;
    font-weight: 500;
}